/laborPlagScan/result/
.idea
.venv
/.venv
/logs/
/tests/resources/Test_Labor/
/tests/resources/Filter_Test_Labor/
/tests/resources/Labor1.zip
/tests/resources/Labor2.zip
/tests/resources/Labor3.zip
/tests/resources/Labor4.zip
/tests/resources/Labor1/
/tests/resources/Labor2/
/tests/resources/Labor3/
/tests/resources/Labor4/
